**如果if为true，那么会继续运行下面的if语句，但是不会运行elseif语句了**

In [40]:
a = 300;
b = 200;
   %检查布尔条件
   if( a == 300 )
      fprintf('ssss\n' );
      %如果condition为真，则检查以下内容
      if( b == 100 )
       
         %如果condition为真，则打印以下内容
         fprintf('Value of a is 100 and b is 200\n' );
      end
       
   end
   fprintf('Exact value of a is : %d\n', a );
   fprintf('Exact value of b is : %d\n', b );

ssss
Exact value of a is : 300
Exact value of b is : 200

In [16]:
a = 100;
%检查布尔条件
   if a == 100 
      %如果condition为真，则打印以下内容 
      fprintf('Value of a is 100\n' );
   elseif( a == 100 )
      % 如果条件成立的话 
      fprintf('Value of a is 20\n' );
   elseif a == 100 
      % 如果条件成立的话
      fprintf('Value of a is 30\n' );
   else
      %如果没有一个条件是真的
      fprintf('None of the values are matching\n');
   fprintf('Exact value of a is: %d\n', a );
   end

Value of a is 100

In [24]:
grade = 2;
   switch(grade)
   case 'A' 
      fprintf('Excellent!\n' );
   case 2
      fprintf('Well done\n' );
   case 'C' 
      fprintf('Good done\n' );
   case 'D'
      fprintf('You passed\n' );
   case 'F' 
      fprintf('Better try again\n' );
   otherwise
      fprintf('Invalid grade\n' );
   end

Well done

In [27]:
a = 100;
b = 200;
switch(a) 
   case 100 
      fprintf('This is part of outer switch %d\n', a );
      switch(b) 
         case 300
            fprintf('This is part of inner switch %d\n', a );
      end
end

This is part of outer switch 100

In [29]:
pwd

ans =
   '/home/mengziwen'

In [38]:
for a = 1.0: -0.1: 0.0
   fprintf('value of a: %g\n', a);
end

value of a: 1
value of a: 0.9
value of a: 0.8
value of a: 0.7
value of a: 0.6
value of a: 0.5
value of a: 0.4
value of a: 0.3
value of a: 0.2
value of a: 0.1
value of a: 0

In [49]:
for a = 1.0: -0.1: 0.0
   format bank; disp(a)
end

          1.00

          0.90

          0.80

          0.70

          0.60

          0.50

          0.40

          0.30

          0.20

          0.10

             0

In [50]:
v = [1: 2: 20]

v = 1x10 double
          1.00          3.00          5.00          7.00          9.00         11.00         13.00         15.00         17.00         19.00

In [51]:
sv = v.* v

sv = 1x10 double
          1.00          9.00         25.00         49.00         81.00        121.00        169.00        225.00        289.00        361.00

In [52]:
dp = sum(sv);     %平方和——点积
mag = sqrt(dp);   % magnitude
disp('Magnitude:'); 
disp(mag);

Magnitude:
         36.47

In [53]:
dp = sum(sv)

dp =
   1330.00

In [4]:
function max = mymax(n1, n2, n3, n4, n5)

%此函数用于计算
%输入五个数字
max =  n1;
if(n2 > max)
   max = n2;
end
if(n3 > max)
   max = n3;
end
if(n4 > max)
   max = n4;
end
if(n5 > max)
   max = n5;
end

In [15]:
mymax(34, 78, 89, 23, 11)

ans =
   89.00

In [16]:
help mymax

 此函数用于计算
 输入五个数字

In [4]:
pwd

ans =
   '/home/mengziwen'

In [26]:
% 生成一个包含NaN值的向量
input = [1, 3, NaN, 4, 5, NaN, 7, NaN];
% 调用myNanSum函数计算输入向量中所有非NaN元素的和
result = nansum(input);
% 显示结果
disp(result);

    20

In [17]:
input(isnan(input)) = 0;
result3 = sum(input);

In [18]:
result3

result3 =
   19

In [55]:
input1 = [1, 2, NaN, 4, 5, NaN, 7, NaN];
result4 = mean(input1)

result4 =
   NaN

In [53]:
input1

input1 = 1x8 double
          1.00          2.00           NaN          4.00          5.00           NaN          7.00           NaN

In [4]:
A = [2 3; 4 5];
B = [7; 11];
X = A \ B

X = 2x1 double
    -1
     3

In [18]:
X = A .\ 2

X = 2x2 double
    1.0000    0.6667
    0.5000    0.4000

In [8]:
X = reshape(1:30,[2 5 3]);
X

X =
   X(:,:,1) =

     1     3     5     7     9
     2     4     6     8    10


X(:,:,2) =

    11    13    15    17    19
    12    14    16    18    20


X(:,:,3) =

    21    23    25    27    29
    22    24    26    28    30

In [21]:
X_as = reshape(1:30,[2 5 3]);
X_as([2:9 26]) = NaN;
% y1 = nanmax(X,[],1);
% y2 = nanmax(X,[],2);
% y3 = nanmax(X,[],3);
% y_all = nanmax(X,[],'all');
M3 = max(X_as,[], 3, 'omitnan')
% M_all = max(X,[], 'all', 'omitnan');

M3 = 2x5 double
    21    23    25    27    29
    22    24    16    28    30

In [22]:
M2

M2 =
   M2(:,:,1) =

     1
    10


M2(:,:,2) =

    19
    20


M2(:,:,3) =

    29
    30

In [25]:
M1

M1 =
   M1(:,:,1) =

     1   NaN   NaN   NaN    10


M1(:,:,2) =

    12    14    16    18    20


M1(:,:,3) =

    22    24    25    28    30

In [17]:
M_all

M_all =
   30

In [6]:
25/2

ans =
   12.5000

In [7]:
25\2

ans =
   0.0800

In [19]:
A = [2 3 4 5];
X = A ./ 2

X = 1x4 double
    1.0000    1.5000    2.0000    2.5000

In [3]:
rain_original=dlmread('daily_rainfall_27071.txt'); 
flow_original=dlmread('daily_flow_27071.txt'); 
multiple=24; %to convert from mm/h to the original units of the timeseries (mm/day)
rain=rain_original(:,7)./multiple; %mm/h
flow=flow_original(:,7)./multiple; %mm/h
time=datenum(rain_original(:,1:6));

In [4]:
rain=rain'; %row vector
flow=flow'; %row vector

In [5]:
rain_int=cumsum(rain, 'omitnan');
flow_int=cumsum(flow, 'omitnan');

In [6]:
window = 3;
T=length(rain);
rain_mean((window-1)/2,:)=movmean(rain_int, window);
flow_mean((window-1)/2,:)=movmean(flow_int, window);

In [7]:
rain_mean

rain_mean = 1x9131 double
    0.3534    0.3929    0.4677    0.4814    0.5521    0.6718    0.7890    0.8501    0.9027    0.9964    1.0935    1.1493    1.1637    1.1869    1.2632    1.3558    1.4384    1.5573    1.6591    1.7646    1.8142    2.0273    2.2784    2.6957    2.9882    3.4834    3.9494    4.4849    4.8272    5.0902
...

In [26]:
clear M1;

In [27]:
M1

Unrecognized function or variable 'M1'.

In [28]:
M2

M2 =
   M2(:,:,1) =

     1
    10


M2(:,:,2) =

    19
    20


M2(:,:,3) =

    29
    30

In [29]:
clear M2;

In [30]:
M2

Unrecognized function or variable 'M2'.

In [31]:
flow_int(end)

ans =
   517.3498

In [32]:
flow_int

flow_int = 1x9131 double
    0.0238    0.0498    0.0998    0.1557    0.1932    0.2269    0.2788    0.3351    0.3891    0.4340    0.5212    0.6438    0.7040    0.7462    0.7832    0.8302    0.9340    0.9960    1.0444    1.1544    1.2066    1.2539    1.3187    1.4426    1.5190    1.7465    1.8502    1.9885    2.1150    2.3911
...

In [33]:
flow

flow = 1x9131 double
    0.0238    0.0260    0.0501    0.0559    0.0374    0.0337    0.0519    0.0563    0.0540    0.0450    0.0872    0.1225    0.0602    0.0422    0.0370    0.0470    0.1037    0.0621    0.0484    0.1100    0.0522    0.0472    0.0648    0.1239    0.0764    0.2274    0.1038    0.1383    0.1265    0.2761
...

In [34]:
tol_fluct_rain

tol_fluct_rain =
   0.0067

In [35]:
tol_fluct_flow

tol_fluct_flow =
   5.1735e-13

In [36]:
fluct_flow_Tr

fluct_flow_Tr = 1x9131 double
   -0.0130   -0.0080   -0.0019    0.0062    0.0012   -0.0061   -0.0015    0.0008    0.0030   -0.0141   -0.0118    0.0208    0.0060    0.0017   -0.0033   -0.0189    0.0139    0.0046   -0.0205    0.0193    0.0017   -0.0059   -0.0197    0.0158   -0.0503    0.0412   -0.0115    0.0039   -0.0499   -0.0071
...

In [37]:
fluct_flow(position_minimum,:)

ans = 1x9131 double
   -0.0130   -0.0080   -0.0019    0.0062    0.0012   -0.0061   -0.0015    0.0008    0.0030   -0.0141   -0.0118    0.0208    0.0060    0.0017   -0.0033   -0.0189    0.0139    0.0046   -0.0205    0.0193    0.0017   -0.0059   -0.0197    0.0158   -0.0503    0.0412   -0.0115    0.0039   -0.0499   -0.0071
...

In [51]:
fluct_rain_Tr

fluct_rain_Tr = 1x9131 double
   -0.1027    0.0632         0         0   -0.0549    0.0123    0.0452         0   -0.0352         0    0.0364    0.0092         0   -0.0138   -0.0352    0.0328    0.0124   -0.0815    0.0862   -0.0083   -0.0220   -0.1332    0.1174   -0.1504    0.1580   -0.2102    0.0815    0.0593    0.0523   -0.0324
...

In [41]:
fluct_bivariate_Tr

fluct_bivariate_Tr = 1x9131 double
    0.0013   -0.0005         0         0   -0.0001   -0.0001   -0.0001         0   -0.0001         0   -0.0004    0.0002         0   -0.0000    0.0001   -0.0006    0.0002   -0.0004   -0.0018   -0.0002   -0.0000    0.0008   -0.0023   -0.0024   -0.0080   -0.0087   -0.0009    0.0002   -0.0026    0.0002
...

In [42]:
x = 1;
while (x > 0) && (x < 10)
    disp(x);
    x = x + 1;
end

     1

     2

     3

     4

     5

     6

     7

     8

     9

In [46]:
x = 5;
while (x > 1) & (x < 10)
    disp(x);
    x = x + 1;
end

     5

     6

     7

     8

     9

In [50]:
x = 2;
while (x > 1) && (x < 10)
    disp(x);
    x = x + 1;
end

     2

     3

     4

     5

     6

     7

     8

     9

In [60]:
X = [1 0 0 2 0 5 6 0 0 0 0 8 0 0 9];
count = 0;
consecutive_zeros = 0;
for i = 1:length(X)
    if X(i) == 0
        count = count + 1;
        if count >= 2 && (i == length(X) || X(i+1) ~= 0)
            consecutive_zeros = consecutive_zeros + 1;
        end
    else
        count = 0;
    end
end
disp(consecutive_zeros);

     3

In [59]:
fluct_bivariate_Tr;
count = 0;
consecutive_zeros = 0;
for i = 1:length(fluct_bivariate_Tr)
    if fluct_bivariate_Tr(i) == 0
        count = count + 1;
        if count >= 2 && (i == length(fluct_bivariate_Tr) || fluct_bivariate_Tr(i+1) ~= 0)
            consecutive_zeros = consecutive_zeros + 1;
        end
    else
        count = 0;
    end
end
disp(consecutive_zeros);

   622

In [61]:
beginning_core

beginning_core = 1x623 double
     1     5    66    77    82    87    91   103   115   126   156   170   195   211   217   220   225   230   235   240   247   259   262   270   287   296   313   339   350   381
...

In [68]:
end_core

end_core = 1x623 double
     2    63    74    78    83    88    94   108   116   137   163   190   196   211   217   222   226   231   237   242   249   259   267   284   293   307   331   345   377   389
...

In [64]:
fluct_bivariate_Tr(63:67)

ans = 1x5 double
1.0e-03 *

   -0.1486         0         0   -0.0558    0.0128

In [65]:
whos

  Name                       Size                Bytes  Class                        Attributes

  BEGINNING_FLOW           449x1                  3592  double
  BEGINNING_RAIN           449x1                  3592  double
  DURATION_RAIN              1x449                3592  double
  DURATION_RUNOFF            1x449                3592  double
  END_FLOW                 449x1                  3592  double
  END_RAIN                 449x1                  3592  double
  F_flow                     1x49                  392  double
  F_rain                     1x49                  392  double
  F_rain_flow                1x49                  392  double
  M3                         2x5                    80  double
  M_all                      1x1                     8  double
  RUNOFF_RATIO               1x449                3592  double
  T                          1x1                     8  double
  Tr                         1x1                     8  double
  VOLUME_RAIN                1x449                3592  double
  VOLUME_RUNOFF              1x449                3592  double
  X                          1x15                  120  double
  X_as                       2x5x3                 240  double
  a                          1x1                     8  double
  ans                        1x5                    40  double
  ax                         1x1                     8  matlab.graphics.axis.Axes
  b                          1x1                     8  double
  baseflow                9131x1                 73048  double
  baseflow_original       9131x1                 73048  double
  beginning_core             1x623                4984  double
  cnt                        1x1                     8  double
  consecutive_zeros          1x1                     8  double
  count                      1x1                     8  double
  end_core                   1x623                4984  double
  end_idx                    1x1                     8  double
  fig                        1x1                     8  matlab.ui.Figure
  flag                       1x1                     8  double
  flow                       1x9131              73048  double
  flow_int                   1x9131              73048  double
  flow_mean                 49x9131            3579352  double
  flow_original           9131x7                511336  double
  fluct_bivariate_Tr         1x9131              73048  double
  fluct_flow                49x9131            3579352  double
  fluct_flow_Tr              1x9131              73048  double
  fluct_rain                49x9131            3579352  double
  fluct_rain_Tr              1x9131              73048  double
  g                          1x1                     8  double
  i                          1x1                     8  double
  index_finish_flow          1x449                3592  double
  index_finish_rain          1x449                3592  double
  index_start_flow           1x449                3592  double
  index_start_rain           1x449                3592  double
  indices                    1x1                     8  double
  left_color                 1x3                    24  double
  len_rho                    1x1                     8  double
  max_window                 1x1                     8  double
  maxcnt                     1x1                     8  double
  multiple                   1x1                     8  double
  n                          1x1                     8  double
  num_zeros                  1x1                     8  double
  position_minimum           1x1                     8  double
  q                          1x1                     8  double
  rain                       1x9131              73048  double
  rain_int                   1x9131              73048  double
  rain_mean                 49x9131            3579352  double
  rain_min                   1x1                     8  double
  rain_original           9131x7                511336  double
  rho                        1x49                  392  double
  right_color                1x3                    24  double
  start_idx                  1x2                    16  double
  time                    9131x1                 73048  double
  tol_fluct_flow             1x1                     8  double
  tol_fluct_rain             1x1                     8  double
  window                     1x1                     8  double
  x                          1x1                     8  double
  y                          1x1                     8  double
  zero_count                 1x1                     8  double

![step4 流程图](img/step4.png)

In [93]:
beginning_core(622:623)

ans = 1x2 double
        9066        9130

In [92]:
end_core(622:623)

ans = 1x2 double
        9127        9129

In [94]:
fluct_bivariate_Tr(9120:9131)

ans = 1x12 double
         0    0.0001   -0.0012   -0.0002         0   -0.0011    0.0000    0.0001         0         0   -0.0000    0.0004

In [95]:
X = [ 0 0 1 2 0 0];
X(1:2) == 0

ans = 1x2 logical array
   1   1

In [96]:
sum(X(1:2) == 0)==2

ans = logical
   1

In [108]:
X = [NaN NaN];
next_core_beginning=find(isnan(X(1:end))==0);
isempty(next_core_beginning)==0

ans = logical
   0

In [109]:
beginning_rain

beginning_rain = 1x623 double
     2     5    67    78    83    88    92   104   116   126   156   169   196   210   218   221   226   231   236   241   248   260   260   271   288   297   314   340   350   382
...

In [112]:
sum(isnan(beginning_rain)==0)

ans =
   623

In [117]:
sum(isnan(end_rain)==0)

ans =
   623

In [114]:
end_rain_checked

end_rain_checked = 1x623 double
   NaN    63    74    78    83    88    93   111   116   137   163   190   196   211   NaN   222   NaN   231   237   NaN   249   NaN   267   284   293   310   331   345   377   389
...

In [115]:
sum(isnan(end_rain_checked)==0)

ans =
   535

In [118]:
sum(isnan(end_rain_checked)==1)

ans =
   88

In [119]:
sum(isnan(beginning_rain_checked)==1)

ans =
   88

In [120]:
fluct_flow

fluct_flow = 49x9131 double
   -0.0130   -0.0080   -0.0019    0.0062    0.0012   -0.0061   -0.0015    0.0008    0.0030   -0.0141   -0.0118    0.0208    0.0060    0.0017   -0.0033   -0.0189    0.0139    0.0046   -0.0205    0.0193    0.0017   -0.0059   -0.0197    0.0158   -0.0503    0.0412   -0.0115    0.0039   -0.0499   -0.0071
   -0.0340   -0.0325   -0.0046    0.0107    0.0023   -0.0111   -0.0058    0.0023   -0.0026   -0.0306   -0.0172    0.0339    0.0243    0.0047   -0.0163   -0.0277    0.0164    0.0042   -0.0227    0.0233    0.0110   -0.0214   -0.0295   -0.0135   -0.0564    0.0371    0.0064   -0.0298   -0.0917   -0.0282
   -0.0585   -0.0547   -0.0250    0.0089    0.0018   -0.0129   -0.0088   -0.0046   -0.0151   -0.0383   -0.0178    0.0407    0.0379    0.0087   -0.0221   -0.0323    0.0070    0.0033   -0.0155    0.0247    0.0042   -0.0232   -0.0587   -0.0342   -0.0694    0.0350   -0.0145   -0.0542   -0.1269   -0.0445
   -0.0807   -0.0751   -0.0470   -0.0146   -0.0015   -0.0134   -0.0139   -0.0180   -0.0249   -0.0414   -0.0160    0.0452    0.0389    0.0137   -0.0171   -0.0405    0.0007    0.0017   -0.0135    0.0232   -0.0011   -0.0441   -0.0742   -0.0552   -0.0855    0.0103   -0.0453   -0.0843   -0.1422   -0.0586
   -0.1011   -0.0971   -0.0706   -0.0389   -0.0255   -0.0193   -0.0237   -0.0268   -0.0317   -0.0437   -0.0144    0.0438    0.0388    0.0165   -0.0160   -0.0392   -0.0021   -0.0014   -0.0202    0.0196   -0.0158   -0.0612   -0.0923   -0.0701   -0.1161   -0.0281   -0.0795   -0.1094   -0.1586   -0.0573
   -0.1231   -0.1206   -0.0949   -0.0629   -0.0530   -0.0524   -0.0332   -0.0324   -0.0349   -0.0461   -0.0187    0.0420    0.0394    0.0142   -0.0158   -0.0353    0.0004   -0.0084   -0.0274    0.0024   -0.0303   -0.0757   -0.1097   -0.0979   -0.1517   -0.0680   -0.1141   -0.1332   -0.1691   -0.0650
   -0.1466   -0.1449   -0.1188   -0.0904   -0.0861   -0.0851   -0.0642   -0.0372   -0.0370   -0.0510   -0.0235    0.0398    0.0359    0.0128   -0.0152   -0.0337   -0.0003   -0.0105   -0.0438   -0.0143   -0.0477   -0.0917   -0.1340   -0.1340   -0.1895   -0.1026   -0.1460   -0.1551   -0.1852   -0.0696
   -0.1709   -0.1689   -0.1463   -0.1235   -0.1188   -0.1161   -0.0935   -0.0658   -0.0432   -0.0554   -0.0267    0.0338    0.0322    0.0120   -0.0152   -0.0367   -0.0026   -0.0204   -0.0553   -0.0316   -0.0659   -0.1179   -0.1673   -0.1687   -0.2260   -0.1349   -0.1705   -0.1800   -0.2009   -0.0745
   -0.1948   -0.1964   -0.1794   -0.1562   -0.1498   -0.1454   -0.1221   -0.0972   -0.0745   -0.0601   -0.0324    0.0292    0.0287    0.0097   -0.0190   -0.0400   -0.0136   -0.0312   -0.0670   -0.0455   -0.0917   -0.1521   -0.2035   -0.2036   -0.2571   -0.1631   -0.1973   -0.1994   -0.2154   -0.0889
   -0.2223   -0.2295   -0.2121   -0.1872   -0.1791   -0.1741   -0.1535   -0.1285   -0.1051   -0.0931   -0.0383    0.0257    0.0255    0.0037   -0.0242   -0.0511   -0.0247   -0.0440   -0.0804   -0.0658   -0.1209   -0.1876   -0.2398   -0.2372   -0.2855   -0.1901   -0.2212   -0.2171   -0.2335   -0.1078
...

In [121]:
position_minimum

position_minimum =
   1

In [122]:
fluct_flow_Tr

fluct_flow_Tr = 1x9131 double
   -0.0130   -0.0080   -0.0019    0.0062    0.0012   -0.0061   -0.0015    0.0008    0.0030   -0.0141   -0.0118    0.0208    0.0060    0.0017   -0.0033   -0.0189    0.0139    0.0046   -0.0205    0.0193    0.0017   -0.0059   -0.0197    0.0158   -0.0503    0.0412   -0.0115    0.0039   -0.0499   -0.0071
...

In [123]:
beginning_flow

beginning_flow = 1x623 double
   NaN     6    72    82    83    91    92   105   116   126   156   170   199   212   NaN   221   NaN   230   236   NaN   248   NaN   262   272   289   298   315   340   350   382
...

In [124]:
end_flow

end_flow = 1x623 double
   NaN    67    74    82    88    91    95   116   116   145   166   196   199   211   NaN   222   NaN   234   240   NaN   249   NaN   271   288   297   314   339   349   381   397
...

In [125]:
beginning_rain_checked

beginning_rain_checked = 1x623 double
   NaN     5    67    78    83    88    92   104   116   126   156   169   196   210   NaN   221   NaN   231   236   NaN   248   NaN   260   271   288   297   314   340   350   382
...

In [128]:
end_rain_checked

end_rain_checked = 1x623 double
   NaN    63    74    78    83    88    93   111   116   137   163   190   196   211   NaN   222   NaN   231   237   NaN   249   NaN   267   284   293   310   331   345   377   389
...

In [126]:
beginning_flow_checked

beginning_flow_checked = 1x623 double
   NaN     6    72   NaN    83   NaN    92   105   NaN   126   156   170   NaN   NaN   NaN   221   NaN   NaN   236   NaN   248   NaN   262   272   289   298   315   340   350   382
...

In [129]:
end_flow_checked

end_flow_checked = 1x623 double
   NaN    67    74   NaN    88   NaN    95   116   NaN   145   166   196   NaN   NaN   NaN   222   NaN   NaN   240   NaN   249   NaN   271   288   297   314   339   349   381   397
...

In [127]:
index_events

index_events = 1x449 double
     2     3     5     7     8    10    11    12    16    19    21    23    24    25    26    27    28    29    30    33    34    35    36    37    38    40    41    43    44    45
...

In [138]:
X = [1 2 NaN];
Y = [1 2];
C = [NaN NaN];
isnan(C)

ans = 1x2 logical array
   1   1

In [134]:
Y

Y = 1x2 double
     1     2

In [135]:
C

C = 1x2 double
   NaN   NaN

In [141]:
to_group

Unrecognized function or variable 'to_group'.

In [140]:
whos

  Name                             Size                Bytes  Class                        Attributes

  BEGINNING_FLOW                 449x1                  3592  double
  BEGINNING_RAIN                 449x1                  3592  double
  C                                1x2                    16  double
  DURATION_RAIN                    1x449                3592  double
  DURATION_RUNOFF                  1x449                3592  double
  END_FLOW                       449x1                  3592  double
  END_RAIN                       449x1                  3592  double
  F_flow                           1x49                  392  double
  F_rain                           1x49                  392  double
  F_rain_flow                      1x49                  392  double
  M3                               2x5                    80  double
  M_all                            1x1                     8  double
  RUNOFF_RATIO                     1x449                3592  double
  T                                1x1                     8  double
  Tr                               1x1                     8  double
  VOLUME_RAIN                      1x449                3592  double
  VOLUME_RUNOFF                    1x449                3592  double
  X                                1x3                    24  double
  X_as                             2x5x3                 240  double
  Y                                1x2                    16  double
  a                                1x1                     8  double
  ans                              1x2                     2  logical
  ax                               1x1                     8  matlab.graphics.axis.Axes
  b                                1x1                     8  double
  baseflow                      9131x1                 73048  double
  baseflow_original             9131x1                 73048  double
  beginning_core                   1x623                4984  double
  beginning_flow                   1x623                4984  double
  beginning_flow_checked           1x623                4984  double
  beginning_flow_grouped           1x449                3592  double
  beginning_flow_ungrouped         1x449                3592  double
  beginning_rain                   1x623                4984  double
  beginning_rain_checked           1x623                4984  double
  beginning_rain_grouped           1x449                3592  double
  beginning_rain_ungrouped         1x449                3592  double
  cnt                              1x1                     8  double
  consecutive_zeros                1x1                     8  double
  count                            1x1                     8  double
  end_core                         1x623                4984  double
  end_flow                         1x623                4984  double
  end_flow_checked                 1x623                4984  double
  end_flow_grouped                 1x449                3592  double
  end_flow_ungrouped               1x449                3592  double
  end_idx                          1x1                     8  double
  end_rain                         1x623                4984  double
  end_rain_checked                 1x623                4984  double
  end_rain_grouped                 1x449                3592  double
  end_rain_ungrouped               1x449                3592  double
  fig                              1x1                     8  matlab.ui.Figure
  flag                             1x1                     8  double
  flow                             1x9131              73048  double
  flow_int                         1x9131              73048  double
  flow_mean                       49x9131            3579352  double
  flow_original                 9131x7                511336  double
  fluct_bivariate_Tr               1x9131              73048  double
  fluct_flow                      49x9131            3579352  double
  fluct_flow_Tr                    1x9131              73048  double
  fluct_rain                      49x9131            3579352  double
  fluct_rain_Tr                    1x9131              73048  double
  g                                1x1                     8  double
  i                                1x1                     8  double
  index_events                     1x449                3592  double
  index_events2                    1x449                3592  double
  index_finish_flow                1x449                3592  double
  index_finish_rain                1x449                3592  double
  index_start_flow                 1x449                3592  double
  index_start_rain                 1x449                3592  double
  indices                          1x1                     8  double
  left_color                       1x3                    24  double
  len_rho                          1x1                     8  double
  marker_overlapping               0x0                     0  double
  max_window                       1x1                     8  double
  maxcnt                           1x1                     8  double
  multiple                         1x1                     8  double
  n                                1x1                     8  double
  next_core_beginning              1x1                     8  double
  next_event_beginning             0x0                     0  double
  num_zeros                        1x1                     8  double
  position_minimum                 1x1                     8  double
  previous_event_end               1x622                4976  double
  q                                1x1                     8  double
  rain                             1x9131              73048  double
  rain_int                         1x9131              73048  double
  rain_mean                       49x9131            3579352  double
  rain_min                         1x1                     8  double
  rain_original                 9131x7                511336  double
  rho                              1x49                  392  double
  right_color                      1x3                    24  double
  start_idx                        1x2                    16  double
  time                          9131x1                 73048  double
  tol_fluct_flow                   1x1                     8  double
  tol_fluct_rain                   1x1                     8  double
  window                           1x1                     8  double
  x                                1x1                     8  double
  y                                1x1                     8  double
  zero_count                       1x1                     8  double

In [142]:
marker_overlapping

marker_overlapping =

     []

In [143]:
BEGINNING_RAIN

BEGINNING_RAIN = 449x1 double
      726838
      726900
      726916
      726925
      726937
      726959
      726989
      727002
      727054
      727069
...

In [144]:
isempty(marker_overlapping)==0

ans = logical
   0

In [145]:
marker_overlapping

marker_overlapping =

     []

In [146]:
isempty(marker_overlapping)

ans = logical
   1

In [147]:
marker_overlapping

marker_overlapping =

     []

In [148]:
baseflow

baseflow = 1x9131 double
    0.0238    0.0260    0.0501    0.0559    0.0374    0.0337    0.0341    0.0345    0.0350    0.0354    0.0358    0.0362    0.0366    0.0370    0.0370    0.0379    0.0383    0.0387    0.0391    0.0396    0.0400    0.0404    0.0408    0.0412    0.0416    0.0421    0.0425    0.0429    0.0433    0.0437
...