**如果if为true，那么会继续运行下面的if语句，但是不会运行elseif语句了**

In [12]:
a = 300;
b = 200;
   %检查布尔条件
   if( a == 300 )
      fprintf('ssss\n' );
      %如果condition为真，则检查以下内容
      if( b == 200 )
       
         %如果condition为真，则打印以下内容
         fprintf('Value of a is 100 and b is 200\n' );
      end
       
   end
   fprintf('Exact value of a is : %d\n', a );
   fprintf('Exact value of b is : %d\n', b );

ssss
Value of a is 100 and b is 200
Exact value of a is : 300
Exact value of b is : 200

In [16]:
a = 100;
%检查布尔条件
   if a == 100 
      %如果condition为真，则打印以下内容 
      fprintf('Value of a is 100\n' );
   elseif( a == 100 )
      % 如果条件成立的话 
      fprintf('Value of a is 20\n' );
   elseif a == 100 
      % 如果条件成立的话
      fprintf('Value of a is 30\n' );
   else
      %如果没有一个条件是真的
      fprintf('None of the values are matching\n');
   fprintf('Exact value of a is: %d\n', a );
   end

Value of a is 100

In [24]:
grade = 2;
   switch(grade)
   case 'A' 
      fprintf('Excellent!\n' );
   case 2
      fprintf('Well done\n' );
   case 'C' 
      fprintf('Good done\n' );
   case 'D'
      fprintf('You passed\n' );
   case 'F' 
      fprintf('Better try again\n' );
   otherwise
      fprintf('Invalid grade\n' );
   end

Well done

In [27]:
a = 100;
b = 200;
switch(a) 
   case 100 
      fprintf('This is part of outer switch %d\n', a );
      switch(b) 
         case 300
            fprintf('This is part of inner switch %d\n', a );
      end
end

This is part of outer switch 100

In [29]:
pwd

ans =
   '/home/mengziwen'

In [38]:
for a = 1.0: -0.1: 0.0
   fprintf('value of a: %g\n', a);
end

value of a: 1
value of a: 0.9
value of a: 0.8
value of a: 0.7
value of a: 0.6
value of a: 0.5
value of a: 0.4
value of a: 0.3
value of a: 0.2
value of a: 0.1
value of a: 0

In [49]:
for a = 1.0: -0.1: 0.0
   format bank; disp(a)
end

          1.00

          0.90

          0.80

          0.70

          0.60

          0.50

          0.40

          0.30

          0.20

          0.10

             0

In [50]:
v = [1: 2: 20]

v = 1x10 double
          1.00          3.00          5.00          7.00          9.00         11.00         13.00         15.00         17.00         19.00

In [51]:
sv = v.* v

sv = 1x10 double
          1.00          9.00         25.00         49.00         81.00        121.00        169.00        225.00        289.00        361.00

In [52]:
dp = sum(sv);     %平方和——点积
mag = sqrt(dp);   % magnitude
disp('Magnitude:'); 
disp(mag);

Magnitude:
         36.47

In [53]:
dp = sum(sv)

dp =
   1330.00

In [4]:
function max = mymax(n1, n2, n3, n4, n5)

%此函数用于计算
%输入五个数字
max =  n1;
if(n2 > max)
   max = n2;
end
if(n3 > max)
   max = n3;
end
if(n4 > max)
   max = n4;
end
if(n5 > max)
   max = n5;
end

In [15]:
mymax(34, 78, 89, 23, 11)

ans =
   89.00

In [16]:
help mymax

 此函数用于计算
 输入五个数字

In [4]:
pwd

ans =
   '/home/mengziwen'

In [26]:
% 生成一个包含NaN值的向量
input = [1, 3, NaN, 4, 5, NaN, 7, NaN];
% 调用myNanSum函数计算输入向量中所有非NaN元素的和
result = nansum(input);
% 显示结果
disp(result);

    20

In [17]:
input(isnan(input)) = 0;
result3 = sum(input);

In [18]:
result3

result3 =
   19

In [55]:
input1 = [1, 2, NaN, 4, 5, NaN, 7, NaN];
result4 = mean(input1)

result4 =
   NaN

In [53]:
input1

input1 = 1x8 double
          1.00          2.00           NaN          4.00          5.00           NaN          7.00           NaN

In [4]:
A = [2 3; 4 5];
B = [7; 11];
X = A \ B

X = 2x1 double
    -1
     3

In [18]:
X = A .\ 2

X = 2x2 double
    1.0000    0.6667
    0.5000    0.4000

In [8]:
X = reshape(1:30,[2 5 3]);
X

X =
   X(:,:,1) =

     1     3     5     7     9
     2     4     6     8    10


X(:,:,2) =

    11    13    15    17    19
    12    14    16    18    20


X(:,:,3) =

    21    23    25    27    29
    22    24    26    28    30

In [6]:
25/2

ans =
   12.5000

In [7]:
25\2

ans =
   0.0800

In [19]:
A = [2 3 4 5];
X = A ./ 2

X = 1x4 double
    1.0000    1.5000    2.0000    2.5000

In [3]:
rain_original=dlmread('daily_rainfall_27071.txt'); 
flow_original=dlmread('daily_flow_27071.txt'); 
multiple=24; %to convert from mm/h to the original units of the timeseries (mm/day)
rain=rain_original(:,7)./multiple; %mm/h
flow=flow_original(:,7)./multiple; %mm/h
time=datenum(rain_original(:,1:6));

In [4]:
rain=rain'; %row vector
flow=flow'; %row vector

In [5]:
rain_int=cumsum(rain, 'omitnan');
flow_int=cumsum(flow, 'omitnan');

In [6]:
window = 3;
T=length(rain);
rain_mean((window-1)/2,:)=movmean(rain_int, window);
flow_mean((window-1)/2,:)=movmean(flow_int, window);

In [7]:
rain_mean

rain_mean = 1x9131 double
    0.3534    0.3929    0.4677    0.4814    0.5521    0.6718    0.7890    0.8501    0.9027    0.9964    1.0935    1.1493    1.1637    1.1869    1.2632    1.3558    1.4384    1.5573    1.6591    1.7646    1.8142    2.0273    2.2784    2.6957    2.9882    3.4834    3.9494    4.4849    4.8272    5.0902
...